.AddTask * {
   text-align: left;
}
.AddTask {
  margin:.5em;
}
.AddTask > input[type = "text"] {
  border-style: none;
  border-radius: .25em;
  padding: .25em;
}
.AddTask-CheckBox {
  flex-direction: row;
  align-self: flex-start;
}
.AddTask-CheckBox > * {
  flex-grow: 0;
}
.AddTask-CheckBox > input {
  margin:.5em;
}
.AddTask > input[type="submit"] {
  border-style: none;
  border-radius: 1em;
  padding: .25em;
  text-align: center;
}